@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-[#0C111B];
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background-image {
  .slick-next {
    @apply hidden;
  }
  .slick-dots {
    @media screen and (min-width: 1024px) {
      @apply bottom-10;
    }
    @apply bottom-3;
    li {
      button {
        @apply p-0;
        &:before {
          @apply text-white opacity-100;
        }
      }
      &:hover::before {
        @apply text-white;
      }
    }
    .slick-active button:before {
      @apply text-red-700 text-[12px];
    }
  }
}
.movie-slide {
  .slick-slide {
    @apply h-56;
  }
  .custom-width {
    @media screen and (min-width: 1024px) {
      width: 100% !important;
    }
    width: 8rem !important;
  }
  .slick-prev {
    @media screen and (min-width: 1024px) {
      left: -4.8% !important;
      z-index: 1;
    }
  }
  .slick-next {
    @media screen and (min-width: 1024px) {
      right: -4.8% !important;
      z-index: 1;
    }
  }
  .slick-list {
    .slick-track {
      .slick-slide {
        @apply px-2;
      }
    }
  }
}
.scrollbar {
  overflow-x: auto;
  margin-bottom: 25px;
}
#custom-scrollbar::-webkit-scrollbar-track {
  width: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0c111b;
}

#custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  background-color: #f5f5f5;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: white;
  border-radius: 10px;
}
